<?xml version="1.0"?>
<config>
	<modules>
		<Imedia_ProductInquiry>
			<version>0.0.2</version>
		</Imedia_ProductInquiry>
	</modules> 
	<frontend>
        <routers>
            <imedia_productinquiry>
                <use>standard</use>
                <args>
                    <module>Imedia_ProductInquiry</module>
                    <frontName>inquiry</frontName>
                </args>
            </imedia_productinquiry>
        </routers>
		<layout>
			<updates>
				<imedia_productinquiry>
				   <file>imedia/productinquiry.xml</file>
				</imedia_productinquiry>
			</updates>
		</layout> 
    </frontend>	
	<global>
		<blocks>
            <imedia_productinquiry>
                <class>Imedia_ProductInquiry_Block</class>
            </imedia_productinquiry>
        </blocks>
        <models>
            <imedia_productinquiry>
                <class>Imedia_ProductInquiry_Model</class>
                <resourceModel>imedia_productinquiry_mysql4</resourceModel>
            </imedia_productinquiry>
            <imedia_productinquiry_mysql4>
                <class>Imedia_ProductInquiry_Model_Mysql4</class>
                <entities>
                    <inquiry>
                        <table>product_inquiry</table>
                    </inquiry>                    
                </entities>
            </imedia_productinquiry_mysql4>
        </models>
        <resources>
            <imedia_productinquiry_setup>
                <setup>
                    <module>Imedia_ProductInquiry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imedia_productinquiry_setup>
            <imedia_productinquiry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imedia_productinquiry_write>
            <imedia_productinquiry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imedia_productinquiry_read>
        </resources>
        <helpers>
            <imedia_productinquiry>
                <class>Imedia_ProductInquiry_Helper</class>
            </imedia_productinquiry>
        </helpers>
		<template>
			<email>
				<admin_notification_template translate="label" module="imedia_productinquiry">
					<label>Product Inquiry Admin Notification</label>
					<file>imedia/admin_notification.html</file>
					<type>html</type>
				</admin_notification_template>
			</email>
			<email>
				<inquiry_product_template translate="label" module="imedia_productinquiry">
					<label>Product Inquiry Reply Mail To User</label>
					<file>imedia/user_inquiry.html</file>
					<type>html</type>
				</inquiry_product_template>
			</email>
		</template>
    </global>
	<admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<Imedia_ProductInquiry  before="Mage_Adminhtml">Imedia_ProductInquiry_Adminhtml</Imedia_ProductInquiry>
					</modules>
				</args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <layout>
            <updates>
                <imedia_productinquiry>
					<file>imedia/productinquiry.xml</file>
                </imedia_productinquiry>
            </updates>
        </layout>
    </adminhtml>
</config>